a:link {
    color: black;
    text-decoration: none;
}

img.post_img {
    width: 530px;
}

img.avatar {
    width: 40px;
}

h2.title {
    font-family: 'Billabong', sans-serif;
}

body {
    background-color: #fff7e6;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-family: 'Billabong', cursive;
    color: #e65100;
    font-size: 3rem;
}

.nav-link {
    color: #e65100 !important;
}

.nav-link:hover {
    color: #fb8c00 !important;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"], input[type="submit"] {
    border-radius: 5px;
    border: 1px solid #ffa726;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #ffa726;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #fb8c00;
}

.signup-link a {
    color: #e65100;
}

.signup-link a:hover {
    color: #fb8c00;
    text-decoration: underline;
}

.carousel-item img {
    border-radius: 10px;
}

@font-face {
    font-family: 'Meows';
    src: url('/static/css/Meows-VGWjy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelloCatto';
    src: url('/static/css/HelloCatto-OVXe8.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.slogan {
    font-family: 'Meows', cursive;
    font-size: 58px;
    font-weight: normal;
    color: #e65100;
    /* Adjust the color if needed */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(255, 182, 193, 0.5);
    letter-spacing: 1px;
}

.navbar .navbar-brand {
    font-family: 'HelloCatto', cursive;
    font-size: 2.5rem;
    color: #e65100;
}

.navbar {
    background-color: #ffa726;
    border-bottom: 2px solid #e65100;
}

.card-body {
    padding: 10px;
}

.text-dark {
    color: #262626 !important;
}

/* For timestamps */
.text-muted {
    color: #8e8e8e !important;
    font-size: 12px;
}

.font-weight-bold {
    font-weight: 600 !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.mr-2 {
    margin-right: 8px !important;
}

.text-dark {
    color: #333 !important;
}

.font-weight-bold {
    font-weight: 600 !important;
}

.border {
    border: 1px solid #ddd;
}

.rounded-circle {
    border-radius: 50% !important;
}

.like-unlike-button {
    cursor: pointer;
    margin-left: 8px;
    margin-top: 6px
}

.text-dark {
    color: #262626 !important;
}

.font-weight-bold {
    font-weight: 600 !important;
}

.delete-comment-button {
    cursor: pointer;
    font-size: 12px;
    color: #3897f0
}

.form-control {
    box-shadow: none;
}

.btn-link {
    text-decoration: none;
    color: #3897f0 !important;
}

.comment-form {
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    padding: 3px 8px;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

.comment-form .btn-link {
    font-size: 14px;
    padding: 0;
    margin-left: 10px;
}