a:link {
    color: black;
    text-decoration: none;
}

img.post_img {
    width: 530px;
}

img.avatar {
    width: 40px;
}

h2.title {
    font-family: 'Billabong', sans-serif;
}

body {
    background-color: #fff7e6;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-family: 'Billabong', cursive;
    color: #e65100;
    font-size: 3rem;
}

.navbar {
    background-color: #ffa726;
    border-bottom: 2px solid #e65100;
}

.nav-link, .navbar-brand {
    color: #e65100 !important;
}

.nav-link:hover, .navbar-brand:hover {
    color: #fb8c00 !important;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"], input[type="submit"] {
    border-radius: 5px;
    border: 1px solid #ffa726;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #ffa726;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #fb8c00;
}

.signup-link a {
    color: #e65100;
}

.signup-link a:hover {
    color: #fb8c00;
    text-decoration: underline;
}

.carousel-item img {
    border-radius: 10px;
}

/* .slogan {
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    font-weight: 400;
    color: #ff6f61; /* A soft, cute pink-orange color 
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(255, 182, 193, 0.5);
    letter-spacing: 1px;
  } */
  

  @font-face {
    font-family: 'Meows';
    src: url('/static/css/Meows-VGWjy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .slogan {
    font-family: 'Meows', cursive;
    font-size: 58px;
    font-weight: normal;
    color: #e65100; /* Adjust the color if needed */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(255, 182, 193, 0.5);
    letter-spacing: 1px;
  }