{% extends "base.html" %}

{% block account %}
{{ super() }}
{% endblock account %}

{% block content %}
<div class="edit-profile-container honey">
  <h2 class="edit-profile-title">Edit profile</h2>
  <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data"
    class="change-password-form">
    <div class="profile-picture-section">
      <img src="/uploads/{{ user_img_url }}" alt="Profile Picture" class="profile-picture">
      <div class="profile-info">
        <h2 class="username">hikipeko2</h2>
        <label for="file" class="honey18 change-photo-btn">Change photo</label>
        <input type="file" id="file" name="file" accept="image/*" class="file-input" />
      </div>
    </div>

    <div class="form-group">
      <label for="fullname">New Name</label>
      <input type="text" id="fullname" name="fullname" required class="form-control">
    </div>

    <div class="form-group">
      <label for="email">New Email</label>
      <input type="text" id="email" name="email" required class="form-control">
    </div>

    <div class="form-group">
      <input type="submit" name="update" value="Submit" class="signup-button">
      <input type="hidden" name="operation" value="edit_account" />
    </div>
  </form>

  <div class="account-actions">
    <a href="/accounts/password/" class="change-password-link">Change password</a>
    <a href="/accounts/delete/" class="delete-account-link">Delete account</a>
  </div>
</div>
{% endblock content %}