{% extends "base.html" %}

{% block account %}
{{ super() }}
{% endblock account %}

{% block content %}
<form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
    Old password <input type="password" name="password" required/>
    New password <input type="password" name="new_password1" required/>
    New password, again <input type="password" name="new_password2" required/>
    <input type="submit" name="update_password" value="submit"/>
    <input type="hidden" name="operation" value="update_password"/>
</form>

<b><a href="/accounts/edit/">Back to edit account</a></b>
{% endblock content %}
