{% extends "base.html" %}

{% block account %}
{{ super() }}
{% endblock account %}

{% block content %}
<div class="edit-profile-container honey">
    <h2 class="edit-profile-title">Change Password</h2>
    <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data"
        class="change-password-form">
        <div class="form-group">
            <label for="password">Old Password</label>
            <input type="password" id="password" name="password" required class="form-control">
        </div>
        <div class="form-group">
            <label for="new_password1">New Password</label>
            <input type="password" id="new_password1" name="new_password1" required class="form-control">
        </div>
        <div class="form-group">
            <label for="new_password2">Confirm New Password</label>
            <input type="password" id="new_password2" name="new_password2" required class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" name="update_password" value="Submit" class="signup-button">
            <input type="hidden" name="operation" value="update_password">
        </div>
    </form>
    <div class="account-actions">
        <a href="/accounts/edit/" class="back-to-edit-link">Back to Edit Account</a>
    </div>
</div>
{% endblock content %}